<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
    <div class="main">
        <h2>Calorie Intake</h2>
        <form class="pure-form">
            <input  placeholder="{{newCalories}}   /   {{calories}}" readonly>
        </form>
        <h2>Macros</h2>
        <table class="pure-table pure-table-horizontal">
        <tbody>
                <tr>
                    <td>Fat</td>
                    <td>{{newFat}}</td>
                    <td>/</td>
                    <td>{{fat}}</td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td>{{newProtein}}</td>
                    <td>/</td>
                    <td>{{protein}}</td>
                </tr>
                <tr>
                    <td>Carbs</td>
                    <td>{{newCarbs}}</td>
                    <td>/</td>
                    <td>{{carbs}}</td>
                </tr>
        </table>
        <h2>{{#if bmi}}BMI: {{bmi}} {{else}} Visit the BMI Calculator to see your BMI here{{/if}}</h2>
        <form action="/myplan" method="POST">
            <h2>What have you eaten today?</h2>
            <div class="form-row">
                <input type="text" name="foodName" placeholder="Name of food">
                <input type="text" name="calories" placeholder="Calorie content">
                <input type="text" name="fat" placeholder="Fat content">
            </div>
            <div class="form-row">
                <input type="text" name="protein" placeholder="Protein content">
                <input type="text" name="carbs" placeholder="Carbohydrate content">
            </div>
            <button class="form-button" type="submit">Save</button>
        </form>
    </div>
</div>